# Pandas

`pandas` を用いたデータ処理について学ぶ。

## パッケージ

この実習で用いるパッケージ群を読み込む。

- `numpy`: Python において準標準的に用いられる行列ライブラリ。Lapack で高速化されているため効率がよい。

- `pandas`: 表のデータを処理するために標準的に用いられるライブラリ。CSVファイル、Excelファイルなどの読み込みにも用いられる。

In [1]:
from IPython.core.display import display, HTML, Markdown
import numpy as np
import pandas as pd

pd.options.display.max_rows = 8

## Python のリスト

- `len(l)`: リストの長さ

### Python のリストは 0-indexed
- `l[0]`, `l[1]`, `l[9]`: それぞれ先頭から1, 2, 10番目の要素

### スライス

- `l[0:7]`: 先頭の7要素
- `l[3:7]`: 先頭から4, 5, 6, 7番目の要素
- `l[7:]`: 8番目以降の要素
- `l[3:10:2]`: 先頭から4, 6, 8, 10 番目の要素
- `l[3:10:3]`: 先頭から4, 7, 10番目の要素
- `l[1::2]`: 2番目以降から要素を1つ跳ばしに抽出
- `l[1::3]`: 2番目以降から要素を2つ跳ばしに抽出

### 後ろから#番目の要素
- `l[-1]`: 一番後ろの要素
- `l[-2]`: 後ろから2番目の要素
- `l[-3:]`: 後ろから3番目以降の要素
- `l[-5::2]`: 後ろから5番目以降の要素から要素を1つ跳ばしに抽出
- `l[2:-2]`: 先頭から3番目から始めて後ろから3番目の要素まで

In [2]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print('len(l):', len(l))

print('l[0]:', l[0])
print('l[1], l[9]:', l[1], l[9])

print('l[0:7]:', l[0:7])
print('l[3:7]:', l[3:7])
print('l[7:]:', l[7:])

print('l[3:10:2]:', l[3:10:2])
print('l[3:10:3]:', l[3:10:3])
print('l[1::2]:', l[1::2])
print('l[1::3]:', l[1::3])

print('l[-1]:', l[-1])
print('l[-2]:', l[-2])
print('l[-3:]:', l[-3:])
print('l[-5::2]:', l[-5::2])
print('l[2:-2]:', l[2:-2])

len(l): 10
l[0]: 1
l[1], l[9]: 2 10
l[0:7]: [1, 2, 3, 4, 5, 6, 7]
l[3:7]: [4, 5, 6, 7]
l[7:]: [8, 9, 10]
l[3:10:2]: [4, 6, 8, 10]
l[3:10:3]: [4, 7, 10]
l[1::2]: [2, 4, 6, 8, 10]
l[1::3]: [2, 5, 8]
l[-1]: 10
l[-2]: 9
l[-3:]: [8, 9, 10]
l[-5::2]: [6, 8, 10]
l[2:-2]: [3, 4, 5, 6, 7, 8]

## Excel ファイルの読み込み

`pandas` を用いて [Social Progress Index (SPI)](https://www.socialprogress.org) のデータを保存した Excel ファイル (`spi.xlsx`) を読み込み `xlsx` という変数に保存する。このファイルは複数のシートから構成されており、`xlsx` の `keys()` メソッドにより参照できる。

In [3]:
xlsx = pd.read_excel('spi.xlsx', sheet_name=None)
xlsx.keys()

odict_keys(['FILE NOTES', '2018', '2017', '2016', '2015', '2014', 'Indicator definitions'])

SPIデータは国連に加盟する国と地域を54個の指標を用いて比較したものである。このデータは2014年から2018年のデータを含んでいる。

`spi2018` は2018年版の SPI の表を保持している。

In [4]:
spi2018 = xlsx['2018']
indices = list(spi2018.keys())

この表は 69 個の列を含む。先頭の2列は国や地域の名称とコードを与えている。表には全部で236個の国と地域のデータを含んでいる。以下の例ではこのうち先頭の5つの国と地域 (Afghanistan, Angola, Albania, United Arab Emirates, Argentina) のデータの一部を表示する。

表は、それぞれの国と地域についてのデータなど、67個の列から構成されている。これらのうち、先頭の2列は国名であり、後ろの方の54個は基礎指標である。残りは基礎指標を集計した抽象化された指標である。列は `spi2018.keys()` によって得られる。

以下の例では、表の列のうち先頭の5つを表示している。なお、Pandas の表は Python のリストと類似したスライス記法に対応している。`[:n]` はリスト等の構造の先頭の $n$ 個の要素群、`[n:]` はn番目の要素以降の要素群を指す。また、要素のインデックスとして負の値はリスト等の構造の後ろからn個目の要素を指す。たとえば要素数10のリストxに関して、`x[-3]` はこのリストの最後の3要素からなるリストとなる。

In [5]:
# SPI 指標の列挙
print('#SPI Indices = ' + str(len(indices)) + '\n  - ' +
      '\n  - '.join(indices[:6]) +
      ',\n    ...,\n  - ' +
      '\n  - '.join(indices[-5:]), '\n')

print(spi2018['Country'], '\n')
print(spi2018['Code'], '\n')

# 表の一部の表示
indices4 = indices[:4]  # 最初の4列の名前からなるリスト
display(spi2018[indices[:4]][:5])

# 表に含まれる国と地域の数を表示
print('\n#Contries & Regions =', len(spi2018['Country']), ':', list(spi2018['Country']))

#SPI Indices = 69
  - Country
  - Code
  - Social Progress Index
  - Basic Human Needs
  - Foundations of Wellbeing
  - Opportunity,
    ...,
  - Equality of political power by social group (0=unequal power; 4=equal power)
  - Years of tertiary schooling
  - Women's average years in school
  - Globally ranked universities (points)
  - Percent of tertiary students enrolled in globally ranked universities

0                    Afghanistan
1                         Angola
2                        Albania
3           United Arab Emirates
                 ...
232    Wallis and Futuna Islands
233                        Samoa
234                        Syria
235                    Venezuela
Name: Country, Length: 236, dtype: object

0      AFG
1      AGO
2      ALB
3      ARE
      ...
232    WLF
233    WSM
234    SYR
235    VEN
Name: Code, Length: 236, dtype: object

                Country Code  Social Progress Index  Basic Human Needs
0           Afghanistan  AFG                  32.96              41.50
1                Angola  AGO                  39.10              45.68
2               Albania  ALB                  71.77              84.59
3  United Arab Emirates  ARE                  74.34              88.65
4             Argentina  ARG                  74.98              82.48

#Contries & Regions = 236 : ['Afghanistan', 'Angola', 'Albania', 'United Arab Emirates', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Belarus', 'Bolivia', 'Brazil', 'Barbados', 'Bhutan', 'Botswana', 'Central African Republic', 'Canada', 'Switzerland', 'Chile', 'China', "Côte d'Ivoire", 'Cameroon', 'Congo, Democratic Republic of', 'Congo, Republic of', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba', 'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji', 'France', 'United Kingdom', 'Georgia', 'Ghana', 'Guinea', 'Gambia, The', 'Greece', 'Guatemala', 'Guyana', 'Honduras', 'Croatia', 'Hungary', 'Indonesia', 'India', 'Ireland', 'Iran', 'Iceland', 'Israel', 'Italy', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Korea, Republic of', 'Laos', 'Lebanon', 'Liberia', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Morocco', 'Moldova', 'Madagascar', 'Mexico', 'Macedonia', 'Mali', 'Myanmar', 'Montenegro', 'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Papua New Guinea', 'Poland', 'Portugal', 'Paraguay', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'Serbia', 'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Swaziland', 'Chad', 'Togo', 'Thailand', 'Tajikistan', 'Timor-Leste', 'Tunisia', 'Turkey', 'Tanzania', 'Ukraine', 'Uruguay', 'United States', 'Uzbekistan', 'Yemen', 'South Africa', 'Zimbabwe', 'Azerbaijan', 'Bahrain', 'Bosnia and Herzegovina', 'Gabon', 'Guinea-Bissau', 'Equatorial Guinea', 'Haiti', 'Iraq', 'Jamaica', 'Kuwait', 'Libya', 'Maldives', 'Malta', 'Namibia', 'Korea, Democratic Republic of', 'Somalia', 'South Sudan', 'Seychelles', 'Turkmenistan', 'Trinidad and Tobago', 'Taiwan', 'Uganda', 'Vietnam', 'Vanuatu', 'Zambia', 'Aruba', 'Anguilla', 'Andorra', 'American Samoa', 'Antigua and Barbuda', 'Bahamas, The', 'Belize', 'Bermuda', 'Brunei Darussalam', 'Channel Islands', 'Cook Islands', 'Curaçao', 'Cayman Islands', 'Dominica', 'Western Sahara', 'Falkland Islands', 'Faroe Islands', 'Micronesia', 'Guernsey', 'Gibraltar', 'Guadeloupe', 'Grenada', 'Greenland', 'French Guiana', 'Guam', 'Hong Kong', 'Jersey', 'Kiribati', 'St. Kitts and Nevis', 'Kosovo', 'St. Lucia', 'Liechtenstein', 'Macao', 'St. Martin', 'Monaco', 'Marshall Islands', 'Northern Mariana Islands', 'Montserrat', 'Martinique', 'Mayotte', 'New Caledonia', 'North Cyprus', 'Niue', 'Nauru', 'Palau', 'Puerto Rico', 'French Polynesia', 'Réunion', 'St. Helena', 'Somaliland', 'San Marino', 'St. Pierre and Miquelon', 'Turks and Caicos Islands', 'Tokelau', 'Tonga', 'Tuvalu', 'Vatican City', 'St. Vincent and the Grenadines', 'British Virgin Islands', 'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Wallis and Futuna Islands', 'Samoa', 'Syria', 'Venezuela']

## 行を指定して取得

列の値についての論理式を記述することで表の行に対するマスクを作成することができる。たとえば、以下の式は各国と地域についての真理値となり、Albania は真値、その他の国と地域は偽値をとる。

> spi2018['Country'] == 'Albania'

このような真理値をマスクとして `spi2018` に適用することによって、以下のように真値に該当する行のみを取り出すことができる。

> spi2018[spi2018['Country'] == 'Albania']

In [6]:
print(spi2018['Social Progress Index'], '\n')

# 国名が Albania に一致するか否かでマスクを作成する。
print(spi2018['Country'] == 'Albania')

# 上述の論理値をマスクとして適用し Albania の指標データを取得。
display(spi2018[spi2018['Country'] == 'Albania'][indices[:7]], '\n')

# India, Ireland, ..., Japan を抽出するマスク
display((spi2018['Country'] >= 'India') & (spi2018['Country'] <= 'Japan'))

# India, Ireland, ..., Japan のデータを取得する
display(spi2018[(spi2018['Country'] >= 'India') & (spi2018['Country'] <= 'Japan')][indices[:5]])

0      32.96
1      39.10
2      71.77
3      74.34
       ...
232      NaN
233      NaN
234      NaN
235      NaN
Name: Social Progress Index, Length: 236, dtype: float64

0      False
1      False
2       True
3      False
       ...
232    False
233    False
234    False
235    False
Name: Country, Length: 236, dtype: bool

,Country,Code,Social Progress Index,Basic Human Needs,Foundations of Wellbeing,Opportunity,Nutrition and Basic Medical Care
2,Albania,ALB,71.77,84.59,80.77,49.94,91.66

'\n'

0      False
1      False
2      False
3      False
       ...
232    False
233    False
234    False
235    False
Name: Country, Length: 236, dtype: bool

,Country,Code,Social Progress Index,Basic Human Needs,Foundations of Wellbeing
61,Indonesia,IDN,63.26,74.13,64.70
62,India,IND,56.26,63.02,59.26
63,Ireland,IRL,88.82,95.03,89.14
64,Iran,IRN,63.96,81.58,69.51
...,...,...,...,...,...
67,Italy,ITA,86.04,91.49,90.28
69,Japan,JPN,89.74,97.78,94.66
153,Iraq,IRQ,NaN,73.12,NaN
154,Jamaica,JAM,NaN,80.08,NaN

## 課題

1. 日本とNorwayのデータを表示しなさい。
2. 日本とNorwayのデータのうち Basic Human Needs, Foundations of Wellbeing, Opportunity の列を表示しなさい。

In [7]:
# 課題の回答

## 最高値の取得

`max` メソッドにより表の最高値を取得でき、`idxmax` メソッドにより最高値を与える行番号を取得できる。

`loc` メソッドを用いることで、複数の行番号 (`i`, `j`, `k`) を指定して、その行のデータを `spi2018.loc[[i, j, k]]` で取得できる。

以下の例が示すように、Social Progress Index について最高値となる国は Norway である。

In [8]:
SPI = 'Social Progress Index'
print(spi2018[SPI].max(), spi2018[SPI].idxmax())
i = spi2018[SPI].idxmax()
spi2018.loc[[i]][indices[:7]]

90.26 101

,Country,Code,Social Progress Index,Basic Human Needs,Foundations of Wellbeing,Opportunity,Nutrition and Basic Medical Care
101,Norway,NOR,90.26,96.62,93.19,80.97,99.0

## 課題

以下の4つの指標について最大値を与える国々それぞれについて、国名と4つの指標を表示しなさい。

- Social Progress Index
- Basic Human Needs
- Foundations of Wellbeing
- Opportunity

In [9]:
# 課題の回答

## 課題

前問の4つの指標について、平均値 ([mean](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html#pandas.DataFrame.mean))と標準偏差([std](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.std.html#pandas.DataFrame.std))を表示しなさい。

In [10]:
# 課題の回答

## 課題

Social Progress Index に関して各国の偏差値を求めなさい。

Norway, Japan, United States の Social Progress Index 値と偏差値を表示しなさい。

**ヒント**: Social Progress Index が提供されておらず `NaN` となっている国が気になるかと思う。このようなこのような国々について `mean` も `std` もこのような値は無視して計算する。詳しくは [mean](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html#pandas.DataFrame.mean), [std](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.std.html#pandas.DataFrame.std) の `skipna` パラメタの説明を参照のこと。

**ヒント**: [merge](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html#pandas.DataFrame.merge) メソッドを用いて国名の表と偏差値の表を合併してもよい。

In [11]:
# 課題の回答